@import './../../resources/colors.scss';
@import './../../resources/mixin.scss';

.content-background {
  width: 80%;
  padding-top: 20px;
  background-color: $light_color;
  -webkit-box-shadow: 2px 0px 5px 0px $shadow_color;
  -moz-box-shadow: 2px 0px 5px 0px $shadow_color;
  box-shadow: 2px 0px 5px 0px $shadow_color;
  margin: 0 auto;

  .content-title {
    width: 100%;
    text-transform: capitalize;
    @include flexbox(row, center, center);
    font-size: 2rem;
    font-weight: bolder;
  }
  .each-season {
    width: 100%;
    padding: 30px 25px 10px 25px;

    .queens-content {
      width: 100%;
      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;

      .each-queen {
        width: 20%;
        padding: 30px;
        @include flexbox(column, space-between, center);

        .queen-image {
          height: 150px;
          overflow: hidden;

          img {
            height: 150px;
            width: auto;
            cursor: pointer;
            -webkit-transition: -webkit-transform 1s ease-out;
            -moz-transition: -moz-transform 1s ease-out;
            -o-transition: -o-transform 1s ease-out;
            -ms-transition: -ms-transform 1s ease-out;
            transition: transform 1s ease-out;
          }

          img:hover {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
          }
        }

        .queenName {
          text-align: center;
        }
      }

      .each-queen:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content-background {
    width: 90%;
    padding-top: 20px;

    .each-season {
      width: 100%;
      padding: 30px 25px 10px 25px;

      .queens-content {
        .each-queen {
          width: 50%;
          padding: 30px;

          .queenName {
            text-align: center;
          }
        }

        .each-queen:last-child {
          display: none;
        }
      }
    }
  }
}
